<div class="col-lg-3 col-md-6 text-center">
    <div class="mt-5">
        <div class="mb-2"><img class="service-icon" src="<%= item.icon.file_url %> " alt=""></div>
        <h3 class="h4 mb-2"><%= item.service_name %> </h3>
        <p class="text-muted mb-0"><%= item.service_description %> </p>
    </div>
</div>